/* RESET ----------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    font-style: none;
    box-shadow: none;
    border: none;
    background: none;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    outline-color: rgba(87, 87, 253, 0);
    outline-width: 0px;
}

$d-blue-dark: #133C55; 

$d-blue: #00A4FF;

$d-blue-blue: #DFF4FF;  

$d-grey: #606060;  

$d-red: #FF7B7B;  

$d-coral: #FF7E66; 

$d-color-error: #D93025;

$d-green: #73D77D;

$d-white: #ffffff;

$d-green-light: #00FF9A;


/* COMPONENTES ----------------------------------- */

/* PADRONIZAÇÃO FONTS */

p{
    font-size: 14px;
    color: $d-blue-dark;
}

h1{
    font-size: 51px;
    color: $d-blue-dark;
}

h2 {
    font-size: 35px;
    color: $d-blue-dark;
}

h3 {
    font-size: 24px;
    color: $d-blue-dark;
}
h4 {
    font-size: 18px;
    font-weight: 500;
    color: $d-blue-dark;
}
/* COLORS BUTTONS */
.d-blue{
    background-color: $d-blue;
    color: $d-white;
}
.d-blue:hover{
    background-color: #5CC5FF;
    transition: 0.5s;
}
.d-blue:active{
    background-color: #008FDE;
    transition: 0.5s;
}

.d-green{
    background-color: $d-green;
    color: $d-white;
    transition: 0.5s;
}
.d-green:hover{
    background-color: #84e68d;
}
.d-green:active{
    background-color: #5cc567;
}

.d-blue-out{
    background-color: $d-white;
    border: 1px solid $d-blue;
    color: $d-blue;
    transition: 0.5s;
}
.d-blue-out:hover{
    background-color: #EBF8FF;
}
.d-blue-out:active{
    background-color: #D2EFFF;
}

.d-grey-out{
    background-color: $d-white;
    border: 1px solid $d-grey;
    color: $d-grey;
    transition: 0.5s;
}
.d-grey-out:hover{
    background-color: #F3F3F3;
}
.d-grey-out:active{
    background-color: #E1E1E1;
}

.d-blue-blue{
    background-color: $d-blue-blue;
    color: $d-blue;
    transition: 0.5s;
}
.d-blue-blue:hover{
    background-color: #C7EBFF;
}
.d-blue-blue:active{
    background-color: #B2E4FF;
}


.d-red{
    background-color: $d-red;
    color: $d-white;
    transition: 0.5s;
}
.d-red:hover{
    background-color: #ff8f8f;
}
.d-red:active{
    background-color: #FF6C6C;
}


.d-red-out{
    background-color: #ffffff;
    border: 1px solid $d-red;
    color: $d-red;
    transition: 0.5s;
}
.d-red-out:hover{
    background-color: #fff0f0;
}
.d-red-out:active{
    background-color: #FFE3E3;
}


.d-grey{
    background-color: #EEEEEE;
    color: $d-grey;
    transition: 0.5s;
}
.d-grey:hover{
    background-color: #E7E7E7;
}
.d-grey:active{
    background-color: #D6D6D6;
}


.d-coral{
    background-color: $d-coral;
    color: $d-white;
    transition: 0.5s;
}
.d-coral:hover{
    background-color: #FF9582;
}
.d-coral:active{
    background-color: #FF7157;
}


.d-coral-out{
    background-color: #ffffff;
    border: 1px solid $d-coral;
    color: $d-coral;
    transition: 0.5s;
}
.d-coral-out:hover{
    background-color: #fff5ef;
}
.d-coral-out:active{
    background-color: #FFEDE3;
}



/* BUTTONS */


.btn-default{
    padding: 0px 10px;
    height: 40px;
    width: 200px;    
    border-radius: 7px;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}

/* BUTTONS SMALL */
.btn-small{
    height: 20px;
    width: 100px;
    font-size: 12px;
}

/* BUTTON TABLE */
.btn-table-manage{
    font-size: 12px;
    border: 1px solid $d-grey;
    color: $d-grey;
    padding: 0px 7px;
    border-radius: 3px;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}
.btn-table-manage:hover{
    background-color: $d-grey;
    color: $d-white; 
    transition: 0.5s;
}



/* INPUTS */

.input-container{
    display: flex;
    flex-direction: column;
}
.input-container > label{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.input-default{
    height: 40px;
    width: 200px;
    border-radius: 7px;
    font-size: 14px;
    border: 1px solid #DFDFDF;
    padding-left:  14px ;
    padding-right:  14px ;
}
.input-default::placeholder{
    color: #B5B5B5;
    font-size: 14px;
 
}
.input-container:not(.input-container[data-error])  .input-default:focus{
    border: 2px solid $d-coral;
    padding-left: 13px;
}

.input-container:not(.input-container[data-error])  .input-default.input-blue:focus{
    border: 2px solid $d-blue;
    padding-left: 13px;
     
}

.input-default:disabled{
    background-color: #E8E8E8;
}
.input-container[data-error] .input-default{
    border: 2px solid $d-color-error;
    color: $d-blue-dark;
}
 /* MENSAGEM DE ERRO INPUT */
.input-container[data-error]::after{
    content: attr(data-error);
    color: $d-color-error;
    font-size: 14px;
    margin: 5px 5px 0px;
}


/* TOGGLE BUTTON */
.toggle-btn{
    width: 100px;
    height: 20px;
    background-color: $d-green;
    border-radius: 30px; 
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}
.toggle-name {
    margin: auto;
    color: $d-white;
    font-weight: 500;
    user-select: none;
    font-size: 10px; 
}
.inner-circle{
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s;
    position: absolute;
    margin-left: 3px;
}
.toggle-btn.active-toggle{
    background-color: $d-red;
    transition: 0.5s;
}
.toggle-btn.toggle-btn.active-toggle > .inner-circle{
    margin-left: 83px;
    transition: 0.5s;
}
/* MENU DE NAVEGAÇÃO */
.menu-nav{
    display: flex;
    flex-direction: row;
    user-select: none;
}
.menu-nav li{
    margin-left: 20px;
    padding: 0px 10px;
}
.menu-nav li:not(.active-menu-nav) a{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $d-blue-dark;
    opacity: 0.4;
}
/* $d-blue-dark */
.active-menu-nav{
    border-bottom: 3px solid $d-coral;
}
.active-menu-nav a{
    color: #133C55;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.menu-nav li:hover:not(.active-menu-nav){
    border-bottom: 3px solid #ff7d667a;
}

/* BARRA PESQUISAR */

.search-box{
    position: relative;
    width: 350px;
    height: 40px;
    background-color: rgb(238, 238, 238);
    border-radius: 7px;
    overflow: hidden;
}
 
.search-box > input{
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 73%;
    border-radius: 7px;
    font-size: 14px;
    padding-left: 14px;
}

.search-box .btn-common{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
}
.search-box .btn-common{
    right:0;
}
.btn-common > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $d-white;
}

/* TABELA  */

.table-default{
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.151)
}

.table-default td, .table-default  th {
    text-align: left;
    padding: 0px 8px;
    font-size: 14px;
    height: 40px;
    user-select: none;
    color: $d-blue-dark;
  }
.table-default  th {
    font-weight: 500;
}
.table-default tr:nth-child(even) {
    background-color: #F2F2F2;
  }
 

/* TABELA CONFIG PAIS BOX */
.table-default.table-config-country{
    box-shadow: none;
}
.table-default.table-config-country tr{
    background-color: $d-white;
    border-top: 1px solid #dfdfdf;
}
.table-default.table-config-country td:nth-child(1){
    width: 100%;
}
/* PAGINATION */

.pagination-nav a{
    float: left;
    width: 20px;
    font-size: 14px;
    user-select: none;
    font-weight: 500;
    margin: 0px 7.5px;
    text-align: center;
    color: $d-blue-dark;
}
.pagination-nav span{
    font-size: 12px;
}
.pagination-nav{
    display: inline-block;
}
 
 a.active-pagination{
    background-color: $d-coral;
    color: $d-white;
    border-radius: 5px;
}

/* SELECT DROPDOWN */

.select-default > select {
    border: 1px solid #DFDFDF;
    padding: 5px;
    appearance: none;
    width: 100%;
    position: absolute;
    border-radius: 7px;
    height: 100%;
    padding: 0px 14px;
    font-size: 14px;
}
.select-default {
    position: relative;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
}
.select-default .material-icons{
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: 5px;
    user-select: none;
    pointer-events: none;
}

.select-default.select-out > select{
    border: 0;
    font-size: 12px;
}
.select-default.select-label{
    height: 20px;
    margin-bottom: 5px;
}

/* BOTOES ESPECIAIS */

.container-btn-add{
    display: flex;
    align-items: center;
}
.input-circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input-circle .material-icons{
    color: $d-white;
    user-select: none;
    pointer-events: none;
}
.material-icons.icon-black{
    color: $d-grey;
    font-size: 18px;
}
.input-circle:nth-child(3){
    margin: 0;
}

/* SCROLL DEFAULT */

.scroll-default{
    overflow-y: scroll;
}

.scroll-default::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185);
    border-radius: 30px;
}

.scroll-default::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 50px;
    width: 9px;
}
/* DEFAULT MODAL ------------------------------ */

/* FOTO PERFIL */

.photo-profile{
    height: 100px;
    width: 100px;
    background-color: #FFAEAE;
    border-radius: 50%;
    border: 3px solid $d-white;
    margin-top: 30px;
    overflow: hidden;
}
.photo-profile > img{
    width: 100%;
}
.profile-info{
    display: flex;
    flex-direction: column;
    color: $d-white;
    align-items: center;
}
.profile-info > p{
    color: $d-white;
    text-transform: uppercase;
}
.name-user{
    font-weight: 600;
    margin-top: 5px;
}

/* MENU */

.menu-sidebar{
margin-left: 10px;
margin-top: 20px;
}

.item-menu{
    position: relative;
}

.item-menu > a{
    display: flex;
    align-items: center;
    color: $d-white;
    height: 40px;
    margin-top: 15px;
    user-select: none;
    font-size: 14px;  
}  
.item-menu > a > span{
    margin-right: 6px;
    margin-left: 10px;
    color: $d-white;
}

/* MENU ACTIVE */
.active-item-menu{
    background-color: $d-white;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.active-item-menu > a, .active-item-menu > a > span {
    color: #133C55;
}

/* MENU VAZADO CIMA */
.active-item-menu i:nth-child(1){
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 20px;
    top: -20px;
    position: absolute;

}
.active-item-menu i:nth-child(1)::after{
    background-color: $d-coral;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    border-bottom-right-radius: 30px;
}

/* MENU VAZADO BAIXO */
.active-item-menu i:nth-child(2){
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: $d-white;
    bottom: -20px;
}
.active-item-menu i:nth-child(2)::after{
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    background-color: $d-coral;
    content: '';
    position: absolute;
}




/* SELECT LANGUAGE ------------------------------ */
.select-language{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    margin-bottom: 10px;
    cursor: pointer;
}
.material-icons-round.icon-green-check{
    background-color: white;
    border-radius: 50%;
    color: $d-green-light;
    user-select: none;
}






/* DEFAULT FAQ ------------------------------ */
/* CONTAIER FAQ */
.container-faq{
    max-width: 450px;
}
.container-faq > .wrapper-faq{
    margin-bottom: 10px;
}
.container-faq > .wrapper-faq > .icon-faq{
    display: flex;
    text-transform: uppercase;
    align-items: center;
}
.wrapper-faq > p{
    text-align: justify;
}
.icon-faq.active-icon-faq{
    color: $d-coral;
}
.icon-faq > p{
    font-size: 18px;
    margin-right: 5px;
}
.icon-faq.active-icon-faq > p{
    color: $d-coral;
}
.icon-faq .material-icons-round{
    user-select: none;
    cursor: pointer;
}
/* DEFAULT BOX ------------------------------ */


.box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.box-wrapper{
    height: 530px;
    width: 450px;
     display: flex;
    flex-direction: column; 
    overflow: hidden; 
    border-radius: 7px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.box-header{
    background-color: #FF7E66;
    width: 100%;
    height: 30px;
    padding: 0px 19px;
    color: $d-white;
    display: flex;
    align-items: center;
    font-style: 14px;
    font-weight: 600;
}
.box-middle{
    margin-top: 0px;
    height: 460px;
    width: 100%;
}
.box-bottom{
    width: 100%;
    height: 40px;
    padding: 0px 19px;
    border-top: 1px solid #E8E8E8;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* BOX WITH FORM */
.box-middle-form {
    padding: 15px 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.box-middle-form > .input-container{
    margin-bottom: 15px;
}

/* BOX WITH TABLE */
.box-middle-table .table-default td, .box-middle-table .table-default th{
    font-size: 12px;
}
.box-middle-table .table-default td:first-child{
    padding-left: 19px;
}
.box-middle-table .table-default td:last-child{
    padding-right: 19px;
}

.box-middle-table .table-default th:first-child{
    padding-left: 19px;
}
.box-middle-table .table-default th:last-child{
    padding-right: 19px;
}

/* CONFIG TABLE WITH REGION */
.box-config-region .legend-box-region{
    border-bottom: 1px solid #dfdfdf;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px 19px;
    font-size: 24px;
}
.box-config-region > .input-container{
    margin: 15px 19px;
}
.box-config-region > .search-wrap > .search-box{
    width: 100%; border-radius: 0px;
}


/* DEFAULT MODAL ------------------------------ */

/* MODAL */
#container-modal{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    z-index: 1000;  
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.modal-default{
    height: 430px;
    width: 450px;
    background-color: $d-white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px 40px 40px;
}
.modal-default img{
    user-select: none;
}


/* GROUP BOTTONS MODAL */
.group-btn-modal{
    display: flex;
    justify-content: space-around;
    width: 100%;
}



/* LAYOUT MANAGE ------------------------------ */

/* LAYOUT GERENCIAMENTO */
#container-manager{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar main";
    grid-template-rows: 1fr;
    grid-template-columns: 231px 1fr;
    position: relative;
    overflow-x: hidden;
    background-color: $d-white;
}

/* MENU  */

#container-manager #container-menu{
    grid-area: sidebar;
    background-color: $d-coral;
    height: 100%;
    position: fixed;
    width: 231px;
    overflow: hidden;
}

/* CONTEUDO PRINCIPAL */

#container-manager #container-main{
    grid-area: main;
    height: 100%;
    display: flex;
    justify-content: center;
 
}

#container-manager #wrapper-main{
    margin: 30px;
    display: flex;
    flex-direction: column;  
    width: 100%;
    max-width: 1075px;
}

.container-header {
    width: 100%;
    margin-bottom: 30px;
}

.container-middle{
    width: 100%;
    height: 100%;
}

.container-bottom {
    width: 100%;
}
.container-bottom > .btn-default{
    margin-right: 45px;
}