<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon-gs.svg" type="image/x-icon">
    <!-- ICONES -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    rel="stylesheet">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../../style/css/style-global.css">
  

    <title>layout</title>

    <style>
.container-header {background-color: tomato; display: flex; flex-direction: column; align-items: flex-start; border-radius: 7px;}
.container-middle{background-color: rgb(255, 131, 109); border-radius: 7px;}
.container-bottom {background-color: rgb(255, 172, 158); border-radius: 7px;}
    </style>

</head>
<body id="container-manager">

    <div id="container-menu"><h2>Menu</h2></div>

        <div id="container-main">

            <div id="wrapper-main">

                <header class="container-header"><h2>Header</h2></header>
                
                <div class="container-middle"><h2>Middle</h2></div>
                
                <div class="container-bottom"><h2>Bottom</h2></div>
                
            </div>    

        </div>

</body>
        
</html>