<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../../img/favicon-gs.svg" type="image/x-icon">
    <!-- ICONES -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    rel="stylesheet">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../../style/css/style-global.css">
  

    <title>layout</title>

    <style>
    </style>

</head>
<body id="container-manager-initial">

<div id="container-main-initial">
 
    <section class="wrapper-main-initial">
        <div class="container-box-left">

           <div class="wrapper-top-initial">
            <h1>Bem Vindo!</h1>
            <h2 class="login-initial">Lorem Ipsum</h2>
 
             <form action="" class="box-form-initial max-width">
                     <div class="input-container max-width">
                     <label for="">Label</label>
                     <input type="text" placeholder="Lorem Ipsum" class="input-default max-width">
                     </div>                                                
                     <div class="input-container max-width">
                     <label for="">Label</label>
                     <input type="text" placeholder="Lorem Ipsum" class="input-default max-width">
                     </div>                                                
             </form>
             <button class="btn-default d-coral max-width" form="">Entrar</button>

             <a href="" class="initial-forgot-password">Esqueceu a senha?</a>

             </div>

             <div class="wrapper-bottom-initial"><a href="">Esqueci meu número CIVA</a></div>

        </div>
        
        <div class="container-box-right">
            <img src="./../../img/background-login-gestores.svg" alt="">
        </div>
    </section>
 

<footer class="container-rodape-initial">

    <div class="container-rodape-page"><a href="" class=""><img src="./../../img/icon-civa-footer-darkblue.svg" alt="">F.A. © 2021</a></div>

</footer>

</div>


</body>
</html>