$d-blue-dark: #133C55; 

$d-blue: #00A4FF;

$d-blue-blue: #DFF4FF;  

$d-grey: #606060;  

$d-red: #ff6464;  

$d-coral: #FF7E66; 

$d-color-error: #D93025;

$d-green: #73D77D;

$d-white: #ffffff;

$d-green-light: #00FF9A;