/* CONTAIER FAQ */
.container-faq{
    max-width: 450px;
}
.container-faq > .wrapper-faq{
    margin-bottom: 10px;
}
.details-faq[open] > summary {
    color:  $d-coral;
    transition: 0.5;  
}
.details-faq[open] > summary p {
    color:  $d-coral;
    transition: 0.5;
}
.icon-faq{
    display: flex;
    text-transform: uppercase;
    align-items: center;
}
.details-faq > p{
    text-align: justify;
}
.icon-faq.active-icon-faq{
    color: $d-coral;
}
.icon-faq > p{
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}
.icon-faq .material-icons-round{
    user-select: none;
    cursor: pointer;
}
