@import './colors';

/* FOTO PERFIL */
.photo-profile{
    height: 100px;
    width: 100px;
    background-color: $d-white;
    border-radius: 50%;
    border: 3px solid $d-white;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}


.photo-profile:hover::before{
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 1;
    cursor: pointer;
}  

.photo-profile > img{
    width: 100%;
    position: absolute;
}


#get-photo{
    display: none;
}

.profile-info{
    display: flex;
    flex-direction: column;
    color: $d-white;
    align-items: center;
    position: relative;
}
.profile-info > p{
    color: $d-white;
    text-transform: uppercase;
}
.name-user{
    font-weight: 600;
    margin-top: 5px;
}

/* MENU */

.menu-sidebar{
margin-left: 10px;
margin-top: 20px;
height: 100%;
}

.item-menu{
    position: relative;
}

.item-menu > a{
    display: flex;
    align-items: center;
    color: $d-white;
    height: 40px;
    margin-top: 15px;
    user-select: none;
    font-size: 14px;  
}  
.item-menu > a > span{
    margin-right: 6px;
    margin-left: 10px;
    color: $d-white;
}

/* MENU ACTIVE */
.active-item-menu{
    background-color: $d-white;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.active-item-menu > a, .active-item-menu > a > span {
    color: #133C55;
}

/* MENU VAZADO CIMA */
.active-item-menu i:nth-child(1){
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 20px;
    top: -20px;
    position: absolute;

}
.active-item-menu i:nth-child(1)::after{
    background-color: $d-coral;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    border-bottom-right-radius: 30px;
}

/* MENU VAZADO BAIXO */
.active-item-menu i:nth-child(2){
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: $d-white;
    bottom: -20px;
}
.active-item-menu i:nth-child(2)::after{
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    background-color: $d-coral;
    content: '';
    position: absolute;
}
