@import './colors';


.pending-container-country{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 50px;
}

.pending-box-country{
    border: 1px solid #DFDFDF;
    width: 500px;
    height: 210px;
    border-radius: 7px;
    padding: 10px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    margin: 10px;

        .pending-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-weight: 600;
                font-size: 18px;
            }
        }
        .pending-middle{
            height: 108px;
            margin: 15px 0;
            font-weight: 500;
        }
        .pending-bottom{
            @include d-flex(center, space-between);
            font-weight: 500;

            .pending-bottom-button{
                display: flex;

                a{
                    margin-right: 15px
                }
            }

            a{
                @include d-flex(center, space-between);
                font-size: 14px;
                span{
                    margin-left: 5px;
                }
            }
        }
        .pending-middle-item{
            margin-bottom: 2px;
            span{
                margin-right: 30px;
                color: $d-blue-dark;
            }
            b{
                font-weight: 500;
                margin: 0 5px;
            }
        }

}