@import './colors';

/* TOGGLE BUTTON */
.toggle-btn{
    width: 110px;
    height: 20px;
    background-color: $d-green;
    border-radius: 30px; 
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}
.toggle-name {
    margin: auto;
    color: $d-white;
    font-weight: 500;
    user-select: none;
    font-size: 12px; 
}
.inner-circle{
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s;
    position: absolute;
    margin-left: 3px;
}
.toggle-btn.active-toggle{
    background-color: $d-red;
    transition: 0.5s;
}
.toggle-btn.toggle-btn.active-toggle > .inner-circle{
    margin-left: 94px;
    transition: 0.5s;
}